
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif; // web fonts
}

.app-container{

    .form-container{
        background-image: url('../images/pattern-bg.png');
        background-repeat: no-repeat;
        background-size: calc(250rem - 180rem) 100%;
        background-position: center;
        height: 30vh;

        color:  hsl(0, 0%, 17%);
        text-align: center;

        .title{
            padding: 20px 0 25px 0;
            font-size: 25px;
            color: white;
        }

        .form-elements{
            display: flex;
            justify-content: center;
            border-radius: 15px;
            width: 80%;
            margin: auto;
            overflow: hidden;

            input[type="text"]{
                padding: 15px;
                width: 85%;
                outline: none;
                border: none;
                
                text-overflow: ellipsis;
            }
            input[type="text"]:focus{
                font-weight: 800;
            }

            .btn{
                width: 15%;
                background-color: black;
                outline: none;
                border: none;
            }
        }
    }
    
    .display-result{
        position: absolute;
        top: 9rem;
        left: 50%;
        transform: translate(-50%);
        width: 80%;
        z-index: 1;

        .arrow-icon{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;

            img{
                height: 25px;
                aspect-ratio: 1/1;
            }
        }

        .arrowRotation{
            transform: rotate(-180deg);
        }

        .display-container{
            position: relative;
            background-color: white;
            border-radius: 15px;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px 0px 10px 0px;
            height: 250px;
            overflow: hidden;

            .verticle_line{
                display: none;
            }
            

            .info{
                .muted-title{
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: hsl(0, 0%, 59%);
                    padding-bottom: 7px;
                }
                .result{
                    font-weight: 800;
                    font-size: 18px;
                }
            }
        }
        .hideContainer{
            height: 50px;
        }
    }

    .map-container{
        height: 70vh;
        position: relative;

        #map{
            height: 100%;
            width: 100vw;
            z-index: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
   .app-container{
    .form-container{
        .form-elements{
            width: 55%;

            input[type="text"]{
                padding: 15px;
                font-size: 16px;
            }
        }
    }

    .display-result{
        top: 10rem;
    }
   }
}

@media only screen and (min-width: 992px){
    .app-container{
        .form-container{
            height: 20vh;
            .title{
                padding: 25px 0 25px 0;
                letter-spacing: 2px;
            }
        }

        .display-result{
            top: 11rem;
           .arrow-icon{
            display: none;
           }
            .display-container{
                padding: 10px 20px 30px;
                flex-direction: row;
                height: 100px;
                text-align: left;
                gap: 10px;

                .verticle_line{
                    display: block;
                    width: 2px;
                    height: 60%;
                    background-color: hsl(0, 0%, 59%);
                }

                .info{
                    width: 25%;
                    height: 50px;
                    padding: 5px;
                    word-wrap: break-word;

                    .muted-title{
                        font-size: 10px;
                    }
                    .result{
                        font-size: 20px;
                    }
                }
            }
        }
        .map-container{
            height: 80vh;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .app-container{
        .form-container{
            background-size: 100% 100%;
            height: 30vh;

            .form-elements{
                width: 40%;
            }
        }

        .display-result{
            top: 10rem;
        }
        .map-container{
            height: 70vh;
        }
    }
}

